<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>phyto_subscription</name>
    <displayName><![CDATA[Phyto Subscription]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Recurring mystery box and replenishment subscriptions via Cashfree]]></description>
    <author><![CDATA[PhytoCommerce]]></author>
    <tab><![CDATA[AdminCatalog]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>
