<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>phyto_bundle_builder</name>
    <displayName><![CDATA[Phyto Bundle Builder]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Customer-facing bundle creator with slot-based product selection and combined discounts]]></description>
    <author><![CDATA[PhytoCommerce]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
