<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>phyto_tc_cost_calculator</name>
    <displayName><![CDATA[Phyto TC Cost Calculator]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Internal tool for pricing TC batches with cost and margin analysis]]></description>
    <author><![CDATA[PhytoCommerce]]></author>
    <tab><![CDATA[AdminCatalog]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
