<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>phyto_loyalty</name>
    <displayName><![CDATA[Phyto Loyalty Programme]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Points-based loyalty programme. Customers earn points on purchases and redeem them as cart discounts. Tier system: Seed, Sprout, Bloom, Rare.]]></description>
    <author><![CDATA[PhytoCommerce]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
